<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<header>
		<div class="cabecera">
			<div id="img-logo">
				<img src="" alt="Imagen no encontradaxd">
			</div>
			<div id="opt-cab">
				<ul>
					<a th:href="@{/cargarRealizarEvento}">Registrar Evento</a>
				</ul>
			</div>
			<div id="but-ses">
				<a th:href="@{/login}">Iniciar</a>
				<button style="background-color: #49f0be;">Registrar</button>
			</div>
		</div>
	</header>
	<main>
		<div class="col-7 col-sm-7">

				<h3>Lista de Eventos</h3>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Evento</th>
							<th>Descripcion</th>
							<th>Categoria</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="e : ${lstEventos}">
							<th scope="row" th:text="${e.idevento}">1</th>
							<td th:text="${e.nomevento}">xx</td>
							<td th:text="${e.desevento}">xx</td>
							<td th:text="${e.objCategoria.nomcat}">xx</td>
						</tr>
					</tbody>
				</table>
			</div>
	</main>
	<footer></footer>
</body>
</html>